@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


html,
body,
#root {
	font-family: "Poppins", system-ui, -apple-system, "Segoe UI", sans-serif;
}

:root {
	--color-primary-50: #eff6ff;
	--color-primary-500: #2563eb;
	--color-primary-600: #1d4ed8;
	--color-primary-900: #1e3a8a;

	color-scheme: light;
}

html.dark {
	color-scheme: dark;
}

.bg-primary-500 {
	background-color: var(--color-primary-500);
}

.text-primary-500 {
	color: var(--color-primary-500);
}

.border-primary-500 {
	border-color: var(--color-primary-500);
}

.focus\:ring-primary-500:focus {
	--tw-ring-color: var(--color-primary-500);
}

.hover\:bg-primary-50:hover {
	background-color: var(--color-primary-50);
}

.hover\:bg-primary-600:hover {
	background-color: var(--color-primary-600);
}

.dark .dark\:hover\:bg-primary-900\/20:hover {
	background-color: color-mix(in srgb, var(--color-primary-900) 20%, transparent);
}